.matn{
    color: white;
    background-color: tomato;
    border: 1px solid white;
    height: 40px;
    border-radius: 10px;
    padding: 7px;
    margin: 10px 0;
    text-align: center;
    border-left: 7px solid white;
    border-right: 7px solid white;
}
.matn-2{
    color: white;
    background-color: tomato;
    border: 1px solid white;
    height: 40px;
    border-radius: 10px;
    padding: 7px;
    margin: 10px 0;
    text-align: center;
    border-left: 7px solid white;
    border-right: 7px solid white;
}